@import "tailwindcss";
@font-face {
  font-family: 'Integral CF'; /* Exact font name */
  src: url('public/font/Fontspring-DEMO-integralcf-bold.otf') format('public');
  font-weight: 700;
  font-style: normal;
}
